<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onwing.household.comm.dal.dao.AccessRecordMapper">
	<resultMap id="BaseResultMap"
		type="com.onwing.household.comm.dal.model.AccessRecord">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="out_off_time" property="outOffTime" jdbcType="TIMESTAMP" />
		<result column="out_off" property="outOff" jdbcType="CHAR" />
		<result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
		<result column="community_name" property="communityName" jdbcType="VARCHAR" />
		<result column="household_name" property="householdName" jdbcType="VARCHAR" />
		<result column="camera_name" property="cameraName" jdbcType="VARCHAR" />
		<association property="community"
			javaType="com.onwing.household.comm.dal.model.Community" resultMap="com.onwing.household.comm.dal.dao.CommunityMapper.BaseResultMap">
		</association>
		<association property="camera"
			javaType="com.onwing.household.comm.dal.model.Camara" resultMap="com.onwing.household.comm.dal.dao.CamaraMapper.BaseResultMap">
		</association>
		<association property="houseHold"
			javaType="com.onwing.household.comm.dal.model.HouseHold" resultMap="com.onwing.household.comm.dal.dao.HouseHoldMapper.BaseResultMap">
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		tbl_access_record.id, 
		tbl_access_record.household_id, 
		tbl_access_record.household_name,
		tbl_access_record.out_off_time, 
		tbl_access_record.out_off,
		tbl_access_record.photo_url,
		tbl_access_record.community_id,
		tbl_access_record.community_name,
		tbl_access_record.camera_id,
		tbl_access_record.camera_name
	</sql>
	<sql id="Base_Column_List2">
		tbl_access_record.id, 
		tbl_access_record.household_id, 
		tbl_access_record.household_name,
		tbl_access_record.out_off_time, 
		tbl_access_record.out_off,
		tbl_access_record.photo_url,
		tbl_access_record.community_id,
		tbl_access_record.community_name,
		tbl_access_record.camera_id,
		tbl_access_record.camera_name,
		tbl_household.room_path,
		tbl_door.name as door_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tbl_access_record
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tbl_access_record
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.onwing.household.comm.dal.model.AccessRecord"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_access_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="houseHold.id != null">
				household_id,
			</if>
			<if test="houseHold.householdName != null">
				household_name,
			</if>
			<if test="outOffTime != null">
				out_off_time,
			</if>
			<if test="outOff != null">
				out_off,
			</if>
			<if test="photoUrl != null">
				photo_url,
			</if>
			<if test="community.id != null">
				community_id,
			</if>
			<if test="community.name != null">
				community_name,
			</if>
			<if test="camera.id != null">
				camera_id,
			</if>
			<if test="camera.name != null">
				camera_name
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="houseHold.id != null">
				#{houseHold.id,jdbcType=BIGINT},
			</if>
			<if test="houseHold.householdName != null">
				#{houseHold.householdName,jdbcType=VARCHAR},
			</if>
			<if test="outOffTime != null">
				#{outOffTime,jdbcType=TIMESTAMP},
			</if>
			<if test="outOff != null">
				#{outOff,jdbcType=CHAR},
			</if>
			<if test="photoUrl != null">
				#{photoUrl,jdbcType=VARCHAR},
			</if>
			<if test="community.id != null">
				#{community.id,jdbcType=BIGINT},
			</if>
			<if test="community.name != null">
				#{community.name,jdbcType=VARCHAR},
			</if>
			<if test="camera.id != null">
				#{camera.id,jdbcType=BIGINT},
			</if>
			<if test="camera.name != null">
				#{camera.name,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>

	<!--===============自定义sql =============== -->
	<select id="selectAccessRecord" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.AccessRecord">
		select
		<include refid="Base_Column_List2" />
		from tbl_access_record, tbl_household, tbl_camera, tbl_control, tbl_door
		where 1=1
		<if test="entity.id != null">
			and tbl_access_record.id = #{entity.id,jdbcType=BIGINT}
		</if>
		<if test="entity.houseHold.id != null">
			and tbl_access_record.household_id = #{entity.houseHold.id,jdbcType=BIGINT}
		</if>
		<if test="entity.houseHold.householdName != null">
			and tbl_access_record.household_name = #{entity.houseHold.householdName,jdbcType=VARCHAR}
		</if>
		<if test="entity.outOffTime != null">
			and tbl_access_record.out_off_time = #{entity.outOffTime,jdbcType=TIMESTAMP}
		</if>
		<if test="entity.outOff != null">
			and tbl_access_record.out_off = #{entity.outOff,jdbcType=CHAR}
		</if>
		<if test="entity.photoUrl != null">
			and tbl_access_record.photo_url = #{entity.photoUrl,jdbcType=VARCHAR}
		</if>
		<if test="entity.community.id != null">
			and tbl_access_record.community_id = #{entity.community.id,jdbcType=BIGINT}
		</if>
		<if test="entity.community.name != null">
			and tbl_access_record.community_name = #{entity.community.name,jdbcType=VARCHAR}
		</if>
		<if test="entity.camara.id != null">
			and tbl_access_record.camera_id = #{entity.camara.id,jdbcType=BIGINT} 
		</if>
		<if test="entity.camara.name != null">
			and tbl_access_record.camera_name = #{entity.camara.name,jdbcType=VARCHAR} 
		</if>
			and tbl_access_record.household_id = tbl_household.id 
			and tbl_access_record.camera_id = tbl_camera.id 
			and tbl_camera.control_id = tbl_control.id  
			and tbl_control.door_id = tbl_door.id 
		<if test="searchContent != null">
			and (tbl_access_record.household_name LIKE '%${searchContent}%' or tbl_access_record.community_name LIKE '%${searchContent}%' or tbl_door.name LIKE '%${searchContent}%') 
		</if>
		ORDER BY tbl_access_record.id desc LIMIT #{startRow}, #{pageSize}
	</select>

	<!-- 总记录数 -->
	<select id="getCountByHouseHold" resultType="int">
		select count(*)
		from tbl_access_record a,tbl_household b
		where
		a.household_id=b.id
	</select>
	
	<select id="getTotalCountBySearchContent" resultType="int"
		parameterType="com.onwing.household.comm.dal.model.AccessRecord">
		select
		count(*)
		from tbl_access_record
		where 1=1
		<if test="entity.id != null">
			and id = #{entity.id,jdbcType=BIGINT}
		</if>
		<if test="entity.houseHold.id != null">
			and household_id = #{entity.houseHold.id,jdbcType=BIGINT}
		</if>
		<if test="entity.houseHold.householdName != null">
			and household_name = #{entity.houseHold.householdName,jdbcType=VARCHAR}
		</if>
		<if test="entity.outOffTime != null">
			and out_off_time = #{entity.outOffTime,jdbcType=TIMESTAMP}
		</if>
		<if test="entity.outOff != null">
			and out_off = #{entity.outOff,jdbcType=CHAR}
		</if>
		<if test="entity.photoUrl != null">
			and photo_url = #{entity.photoUrl,jdbcType=VARCHAR}
		</if>
		<if test="entity.community.id != null">
			and community_id = #{entity.community.id,jdbcType=BIGINT}
		</if>
		<if test="entity.community.name != null">
			and community_name = #{entity.community.name,jdbcType=VARCHAR}
		</if>
		<if test="entity.camara.id != null">
			and camera_id = #{entity.camara.id,jdbcType=BIGINT} 
		</if>
		<if test="entity.camara.name != null">
			and camera_name = #{entity.camara.name,jdbcType=VARCHAR} 
		</if>
		<if test="searchContent != null">
			and (household_name LIKE '%${searchContent}%' or community_name LIKE '%${searchContent}%' or camera_name LIKE '%${searchContent}%') 
		</if>
	</select>
	
	<select id="getAccessRecordByDate" resultMap="BaseResultMap">
		select photo_url
		from tbl_access_record
		where DATE(DATE_SUB(NOW(),INTERVAL #{numberDay}
		day))>=DATE(out_off_time)
	</select>

	<delete id="delAccessRecordByDate">
		delete
		from tbl_access_record
		where DATE(DATE_SUB(NOW(),INTERVAL #{numberDay}
		day))>=DATE(out_off_time)
	</delete>
</mapper>