<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onwing.household.comm.dal.dao.CamaraMapper">
	<resultMap id="BaseResultMap" type="com.onwing.household.comm.dal.model.Camara">
		<id column="camera_id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="direction" property="direction" jdbcType="VARCHAR" />
		
		<result column="camera_ip" property="ip" jdbcType="VARCHAR" />
		<result column="relay_id" property="relayId" jdbcType="VARCHAR" />
		<association property="control"
			javaType="com.onwing.household.comm.dal.model.Control" 
			resultMap="com.onwing.household.comm.dal.dao.ControlMapper.BaseResultMap">
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, name, control_id, direction, ip, relay_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		a.id as camera_id, a.name, b.id as control_id, b.name as control_name,direction, a.ip as camera_ip, relay_id
		from tbl_camera a, tbl_control b
		where a.id = #{id,jdbcType=BIGINT} 
		and a.control_id = b.id
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tbl_camera
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.onwing.household.comm.dal.model.Camara"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_camera (name, control_id, direction, ip, relay_id
		)
		values (#{name,jdbcType=VARCHAR}, #{control.id,jdbcType=BIGINT},
		#{direction,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{relay_id,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.onwing.household.comm.dal.model.Camara"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_camera
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="control.id != null">
				control_id,
			</if>
			<if test="direction != null">
				direction,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="relayId != null">
				relay_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="control.id != null">
				#{control.id,jdbcType=BIGINT},
			</if>
			<if test="direction != null">
				#{direction,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="relayId != null">
				#{relayId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.onwing.household.comm.dal.model.Camara">
		update tbl_camera
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="control.id != null">
				control_id = #{control.id,jdbcType=BIGINT},
			</if>
			<if test="direction != null">
				direction = #{direction,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="relayId != null">
				relay_id = #{relayId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.onwing.household.comm.dal.model.Camara">
		update tbl_camera
		set name = #{name,jdbcType=VARCHAR},
		control_id = #{control.id,jdbcType=BIGINT},
		direction = #{direction,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR},
		relay_id = #{relayId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
                    <!--  	自定义查询 -->
	<select id="getAllCamara" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_camera
	</select>

	<select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.Camara">
		select
		a.id as camera_id, a.name, a.direction, a.ip as camera_ip, a.relay_id, a.control_id, b.name as control_name, b.ip, b.port 
		from tbl_camera a, tbl_control b 
		where 1=1
		<if test="id != null">
			and a.id = #{id,jdbcType=BIGINT}
		</if>
		<if test="name != null">
			and a.name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="control.id != null">
			and a.control_id = #{control.id,jdbcType=BIGINT}
		</if>
		<if test="direction != null">
			and a.direction = #{direction,jdbcType=VARCHAR}
		</if>
			and a.control_id = b.id
	</select>
</mapper>