<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onwing.household.comm.dal.dao.CommunityMapper" >
  <resultMap id="BaseResultMap" type="com.onwing.household.comm.dal.model.Community" >
    <id column="community_id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="CameraControlCountResultMap" type="com.onwing.household.comm.dal.model.CommunityCameraControlCount" >
    <id column="community_id" property="id" jdbcType="BIGINT" />
    <result column="community_name" property="name" jdbcType="VARCHAR" />
    <result column="camera_count" property="cameraCount" jdbcType="BIGINT" />
    <result column="control_count" property="controlCount" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,name,address
  </sql>
  
  <select id="queryCommunityByCamera" resultMap="BaseResultMap"  parameterType="java.lang.String">
    SELECT
	tbl_community.id, tbl_community.`name` 
	from tbl_community,tbl_door,tbl_control,tbl_camera 
	where tbl_camera.control_id = tbl_control.id 
	and tbl_control.door_id = tbl_door.id 
	and tbl_door.community_id = tbl_community.id
	and tbl_camera.name = #{cameraName,jdbcType=VARCHAR}
  </select>
  
  <select id="queryCameraControlCount" resultMap="CameraControlCountResultMap" >
    SELECT
	tbl_community.id, tbl_community.`name`, count(DISTINCT tbl_camera.id) as camera_count, count(DISTINCT tbl_control.id) as control_count
	from tbl_community,tbl_door,tbl_control,tbl_camera 
	where tbl_camera.control_id = tbl_control.id 
	and tbl_control.door_id = tbl_door.id 
	and tbl_door.community_id = tbl_community.id
	group by tbl_community.id
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_community
    where id = #{id,jdbcType=BIGINT}
  </select>
  
     <select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.Community">
		select
		<include refid="Base_Column_List" />
		from tbl_community
		where 1=1
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="name != null">
		    and name = #{name,jdbcType=VARCHAR}		    
		</if>
		<if test="address != null">
		    and address = #{address,jdbcType=VARCHAR}		    
		</if>

	</select>
	<insert id="insertSelective" parameterType="com.onwing.household.comm.dal.model.Community"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_community
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
  
</mapper>