<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onwing.household.comm.dal.dao.HouseHoldMapper">
	<resultMap id="BaseResultMap" type="com.onwing.household.comm.dal.model.HouseHold">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="community_name" property="communityName"
			jdbcType="VARCHAR" />
		<result column="household_name" property="householdName"
			jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="CHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="identify_card" property="identifyCard"
			jdbcType="VARCHAR" />
		<result column="building_block_number" property="buildingBlockNumber"
			jdbcType="VARCHAR" />
		<result column="room_number" property="roomNumber" jdbcType="VARCHAR" />
		<result column="photo_id" property="photoId" jdbcType="VARCHAR" />
		<result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
		<result column="household_type" property="householdType"
			jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<association property="community"
			javaType="com.onwing.household.comm.dal.model.Community"
			resultMap="com.onwing.household.comm.dal.dao.CommunityMapper.BaseResultMap">
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id,community_id,community_name,household_name, gender,
		tel,identify_card, building_block_number, room_number,
		photo_id,
		card_number,household_type,
		remarks
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tbl_household
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tbl_household
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.onwing.household.comm.dal.model.HouseHold"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_household
		(community_id,community_name, household_name, gender, tel,
		building_block_number,
		room_number, photo_id,
		card_number, remarks)
		values
		(#{communityId,jdbcType=BIGINT},#{communityName,jdbcType=VARCHAR},
		#{householdName,jdbcType=VARCHAR},
		#{gender,jdbcType=CHAR},
		#{tel,jdbcType=VARCHAR},
		#{buildingBlockNumber,jdbcType=VARCHAR},
		#{roomNumber,jdbcType=VARCHAR}, #{photoId,jdbcType=VARCHAR},
		#{cardNumber,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.onwing.household.comm.dal.model.HouseHold"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_household
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="communityId != null">
				community_id,
			</if>
			<if test="communityName != null">
				community_name,
			</if>
			<if test="householdName != null">
				household_name,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="identifyCard != null">
				identify_card,
			</if>
			<if test="buildingBlockNumber != null">
				building_block_number,
			</if>
			<if test="roomNumber != null">
				room_number,
			</if>
			<if test="photoId != null">
				photo_id,
			</if>
			<if test="cardNumber != null">
				card_number,
			</if>
			<if test="householdType != null">
				household_type,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="communityId != null">
				#{communityId,jdbcType=BIGINT},
			</if>
			<if test="communityName != null">
				#{communityName,jdbcType=VARCHAR},
			</if>
			<if test="householdName != null">
				#{householdName,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=CHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="identifyCard != null">
				#{identifyCard,jdbcType=VARCHAR},
			</if>
			<if test="buildingBlockNumber != null">
				#{buildingBlockNumber,jdbcType=VARCHAR},
			</if>
			<if test="roomNumber != null">
				#{roomNumber,jdbcType=VARCHAR},
			</if>
			<if test="photoId != null">
				#{photoId,jdbcType=VARCHAR},
			</if>
			<if test="cardNumber != null">
				#{cardNumber,jdbcType=VARCHAR},
			</if>
			<if test="householdType != null">
				#{householdType,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.onwing.household.comm.dal.model.HouseHold">
		update tbl_household
		<set>
			<if test="communityId != null">
				community_id = #{communityId,jdbcType=BIGINT},
			</if>
			<if test="communityName != null">
				community_name = #{communityName,jdbcType=VARCHAR},
			</if>
			<if test="householdName != null">
				household_name = #{householdName,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=CHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="identifyCard != null">
				identifyCard = #{identifyCard,jdbcType=VARCHAR},
			</if>
			<if test="buildingBlockNumber != null">
				building_block_number =
				#{buildingBlockNumber,jdbcType=VARCHAR},
			</if>
			<if test="roomNumber != null">
				room_number = #{roomNumber,jdbcType=VARCHAR},
			</if>
			<if test="photoId != null">
				photo_id = #{photoId,jdbcType=VARCHAR},
			</if>
			<if test="cardNumber != null">
				card_number = #{cardNumber,jdbcType=VARCHAR},
			</if>
			<if test="householdType != null">
				household_type = #{householdType,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.onwing.household.comm.dal.model.HouseHold">
		update
		tbl_household
		set community_id = #{communityId,jdbcType=BIGINT},
		community_name = #{communityName,jdbcType=VARCHAR},
		household_name =
		#{householdName,jdbcType=VARCHAR},
		gender = #{gender,jdbcType=CHAR},
		tel = #{tel,jdbcType=VARCHAR},
		building_block_number =
		#{buildingBlockNumber,jdbcType=VARCHAR},
		room_number =
		#{roomNumber,jdbcType=VARCHAR},
		photo_id =
		#{photoId,jdbcType=VARCHAR},
		card_number =
		#{cardNumber,jdbcType=VARCHAR},
		remarks =
		#{remarks,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!--===============自定义sql =============== -->
	<select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.HouseHold">
		select
		<include refid="Base_Column_List" />
		from tbl_household
		where 1=1
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="householdName != null">
			and household_name = #{householdName,jdbcType=VARCHAR}
		</if>
		<if test="gender != null">
			and gender = #{gender,jdbcType=CHAR}
		</if>
		<if test="tel != null">
			and tel = #{tel,jdbcType=VARCHAR}
		</if>
		<if test="identifyCard != null">
			and identify_card = #{identifyCard,jdbcType=VARCHAR}
		</if>
		<if test="buildingBlockNumber != null">
			and building_block_number =
			#{buildingBlockNumber,jdbcType=VARCHAR}
		</if>
		<if test="roomNumber != null">
			and room_number = #{roomNumber,jdbcType=VARCHAR}
		</if>
		<if test="photoId != null">
			and photo_id = #{photoId,jdbcType=VARCHAR}
		</if>
		<if test="cardNumber != null">
			and card_number = #{cardNumber,jdbcType=VARCHAR}
		</if>
		<if test="remarks != null">
			and remarks = #{remarks,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getAllHouseHold" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.HouseHold">
		select
		<include refid="Base_Column_List" />
		from tbl_household LIMIT #{startRow}, #{pageSize}
	</select>

	<select id="getCountByHousehold" resultType="int">
		select count(*)
		from
		tbl_household
	</select>

	<select id="getFuzzyQuery" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.HouseHold">
		select
		<include refid="Base_Column_List" />
		from tbl_household
		where household_name
		like "%"#{searchContent,jdbcType=VARCHAR}"%" or
		tel like "%"#{searchContent,jdbcType=VARCHAR}"%" or
		gender like "%"#{searchContent,jdbcType=VARCHAR}"%" or
		building_block_number like "%"#{searchContent,jdbcType=VARCHAR}"%" or
		room_number like "%"#{searchContent,jdbcType=VARCHAR}"%" or
		card_number like "%"#{searchContent,jdbcType=VARCHAR}"%" or
		household_type like "%"#{searchContent,jdbcType=VARCHAR}"%" or
		identify_card like "%"#{searchContent,jdbcType=VARCHAR}"%"
		LIMIT #{startRow},
		#{pageSize}
	</select>
</mapper>