<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onwing.household.comm.dal.dao.HouseHoldMapper">
	<resultMap id="BaseResultMap" type="com.onwing.household.comm.dal.model.HouseHold">
		<id column="household_id" property="id" jdbcType="BIGINT" />
		<result column="community_name" property="communityName"
			jdbcType="VARCHAR" />
		<result column="household_name" property="householdName"
			jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="CHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="identify_card" property="identifyCard"
			jdbcType="VARCHAR" />
		<result column="room_path" property="roomPath" jdbcType="VARCHAR" />
		<result column="photo_id" property="photoId" jdbcType="VARCHAR" />
		<result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
		<result column="household_type" property="householdType"
			jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<association property="community"
			javaType="com.onwing.household.comm.dal.model.Community"
			resultMap="com.onwing.household.comm.dal.dao.CommunityMapper.BaseResultMap">
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		tbl_household.id as household_id,community_id,community_name,household_name, gender,
		tel,identify_card, room_path,
		photo_id,
		card_number,household_type,
		remarks
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tbl_household
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tbl_household
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.onwing.household.comm.dal.model.HouseHold"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_household
		(community_id,community_name, household_name, gender, tel,
		room_path, photo_id,
		card_number, remarks)
		values
		(#{community.id,jdbcType=BIGINT},#{communityName,jdbcType=VARCHAR},
		#{householdName,jdbcType=VARCHAR},
		#{gender,jdbcType=CHAR},
		#{tel,jdbcType=VARCHAR},
		#{roomPath,jdbcType=VARCHAR}, #{photoId,jdbcType=VARCHAR},
		#{cardNumber,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.onwing.household.comm.dal.model.HouseHold"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_household
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="community.id != null">
				community_id,
			</if>
			<if test="communityName != null">
				community_name,
			</if>
			<if test="householdName != null">
				household_name,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="identifyCard != null">
				identify_card,
			</if>
			<if test="roomPath != null">
				room_path,
			</if>
			<if test="photoId != null">
				photo_id,
			</if>
			<if test="cardNumber != null">
				card_number,
			</if>
			<if test="householdType != null">
				household_type,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="community.id != null">
				#{community.id,jdbcType=BIGINT},
			</if>
			<if test="communityName != null">
				#{communityName,jdbcType=VARCHAR},
			</if>
			<if test="householdName != null">
				#{householdName,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=CHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="identifyCard != null">
				#{identifyCard,jdbcType=VARCHAR},
			</if>
			<if test="roomPath != null">
				#{roomPath,jdbcType=VARCHAR},
			</if>
			<if test="photoId != null">
				#{photoId,jdbcType=VARCHAR},
			</if>
			<if test="cardNumber != null">
				#{cardNumber,jdbcType=VARCHAR},
			</if>
			<if test="householdType != null">
				#{householdType,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.onwing.household.comm.dal.model.HouseHold">
		update tbl_household
		<set>
			<if test="community.id != null">
				community_id = #{community.id,jdbcType=BIGINT},
			</if>
			<if test="communityName != null">
				community_name = #{communityName,jdbcType=VARCHAR},
			</if>
			<if test="householdName != null">
				household_name = #{householdName,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=CHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="identifyCard != null">
				identify_card = #{identifyCard,jdbcType=VARCHAR},
			</if>
			<if test="roomPath != null">
				room_path = #{roomPath,jdbcType=VARCHAR},
			</if>
			<if test="photoId != null">
				photo_id = #{photoId,jdbcType=VARCHAR},
			</if>
			<if test="cardNumber != null">
				card_number = #{cardNumber,jdbcType=VARCHAR},
			</if>
			<if test="householdType != null">
				household_type = #{householdType,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.onwing.household.comm.dal.model.HouseHold">
		update
		tbl_household
		set community_id = #{communityId,jdbcType=BIGINT},
		community_name = #{communityName,jdbcType=VARCHAR},
		household_name =
		#{householdName,jdbcType=VARCHAR},
		gender = #{gender,jdbcType=CHAR},
		tel = #{tel,jdbcType=VARCHAR},
		room_path =
		#{roomPath,jdbcType=VARCHAR},
		photo_id =
		#{photoId,jdbcType=VARCHAR},
		card_number =
		#{cardNumber,jdbcType=VARCHAR},
		remarks =
		#{remarks,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!--===============自定义sql =============== -->
	<select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.HouseHold">
		select
		<include refid="Base_Column_List" />
		from tbl_household
		where 1=1
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="householdName != null">
			and household_name = #{householdName,jdbcType=VARCHAR}
		</if>
		<if test="gender != null">
			and gender = #{gender,jdbcType=CHAR}
		</if>
		<if test="tel != null">
			and tel = #{tel,jdbcType=VARCHAR}
		</if>
		<if test="identifyCard != null">
			and identify_card = #{identifyCard,jdbcType=VARCHAR}
		</if>
		<if test="roomPath != null">
			and room_path = #{roomPath,jdbcType=VARCHAR}
		</if>
		<if test="photoId != null">
			and photo_id = #{photoId,jdbcType=VARCHAR}
		</if>
		<if test="cardNumber != null">
			and card_number = #{cardNumber,jdbcType=VARCHAR}
		</if>
		<if test="remarks != null">
			and remarks = #{remarks,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getAllHouseHoldList" resultMap="BaseResultMap"
		parameterType="com.onwing.household.comm.dal.model.HouseHold">
		select
		<include refid="Base_Column_List" />
		from tbl_household
		where 1=1
		<if test="communityId != null">
		and community_id = #{communityId,jdbcType=BIGINT}
		</if>
		<if test="searchContent != null">
		and ( household_name like
			'%${searchContent}%' or
			tel like
			'%${searchContent}%' or
			gender like
			'%${searchContent}%' or
			room_path like
			'%${searchContent}%' or
			card_number like
			'%${searchContent}%' or
			household_type like
			'%${searchContent}%' or
			identify_card like
			'%${searchContent}%' or
			community_name like
			'%${searchContent}%')
		</if>
		LIMIT #{startRow}, #{pageSize}
	</select>


	<select id="getTotalCountBySearchContent" resultType="int"
		parameterType="com.onwing.household.comm.dal.model.HouseHold">
		select
		count(*)
		from tbl_household
		where 1=1
		<if test="communityId != null">
			and community_id = #{communityId ,jdbcType=BIGINT}
		</if>
		<if test="searchContent != null">
			and (household_name like
			'%${searchContent}%' or
			tel like
			'%${searchContent}%' or
			gender like
			'%${searchContent}%' or
			room_path like
			'%${searchContent}%' or
			card_number like
			'%${searchContent}%' or
			household_type like
			'%${searchContent}%' or
			identify_card like
			'%${searchContent}%' or
			community_name like
			'%${searchContent}%')
		</if>
	</select>
</mapper>