<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onwing.household.comm.dal.dao.RoomMapper">
	<resultMap id="BaseResultMap" type="com.onwing.household.comm.dal.model.Room">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<association property="floors"
			javaType="com.onwing.household.comm.dal.model.Floors"
			resultMap="com.onwing.household.comm.dal.dao.FloorsMapper.BaseResultMap">
		</association>
	</resultMap>
</mapper>